body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  font-family: 'Helvetica Neue', sans-serif;
}

main {
  margin: 30px;
}

.hello {
  text-align: center;
  font-size: 40px;
  margin-bottom: 21px;
  height: 149px;
  line-height: 149px;
  border: 4px solid #707070;
  background-color: #ffe8aa;
  color: #707070;
}

.table {
  display: flex;
  overflow-x: auto;
  padding: 21px 0;
  border: 4px solid #707070;
  background-color: #ffe8aa;
}

.column:first-child {
  margin-left: 21px;
}

.row {
  font-size: 40px;
  font-weight: bold;
  padding: 20px 38px 21px;
  margin-right: 21px;
  border: 2px solid #707070;
  background-color: #fff5d9;
  color: #f0dfae;
}

.row:first-child {
  margin-bottom: 16px;
}

.foot {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  bottom: 37px;
  left: 0;
}

.start {
  box-sizing: border-box;
  padding: 8px 0 8px;
  width: 120px;
  border-radius: 4px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  background-color: #ffe8aa;
  color: #707070;
  border: 2px solid #707070;
}
